In [1]:
import pandas_datareader.data as pdr

In [2]:
df_apple = pdr.DataReader('AAPL',
                       'quandl',
                       '2011-01-01',
                       '2022-09-30',
                       api_key='yuqp72Y_-GpAsrjQEXfL')

In [3]:
df_apple.head()

,Open,High,Low,Close,Volume,ExDividend,SplitRatio,AdjOpen,AdjHigh,AdjLow,AdjClose,AdjVolume
Date,,,,,,,,,,,,
2018-03-27,173.68,175.15,166.92,168.340,38962839.0,0.0,1.0,173.68,175.15,166.92,168.340,38962839.0
2018-03-26,168.07,173.10,166.44,172.770,36272617.0,0.0,1.0,168.07,173.10,166.44,172.770,36272617.0
2018-03-23,168.39,169.92,164.94,164.940,40248954.0,0.0,1.0,168.39,169.92,164.94,164.940,40248954.0
2018-03-22,170.00,172.68,168.60,168.845,41051076.0,0.0,1.0,170.00,172.68,168.60,168.845,41051076.0
2018-03-21,175.04,175.09,171.26,171.270,35247358.0,0.0,1.0,175.04,175.09,171.26,171.270,35247358.0

In [4]:
df_apple.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1818 entries, 2018-03-27 to 2011-01-03
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Open        1818 non-null   float64
 1   High        1818 non-null   float64
 2   Low         1818 non-null   float64
 3   Close       1818 non-null   float64
 4   Volume      1818 non-null   float64
 5   ExDividend  1818 non-null   float64
 6   SplitRatio  1818 non-null   float64
 7   AdjOpen     1818 non-null   float64
 8   AdjHigh     1818 non-null   float64
 9   AdjLow      1818 non-null   float64
 10  AdjClose    1818 non-null   float64
 11  AdjVolume   1818 non-null   float64
dtypes: float64(12)
memory usage: 184.6 KB